#loginContainer

body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;
    width: 70%;}

/* Campos de entrada de ancho completo */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #2f0375;
  margin-bottom: 25px;
}

/* Establecer un estilo para todos los botones */
button {
  background-color: #1254e4;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Agregar relleno a los elementos del contenedor */
.container {
  padding: 16px;
}

/* Borrar flotantes */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Cambiar estilos para el botón el botón de registro en pantallas extra pequeñas */
@media screen and (max-width: 300px) {
  .signupbtn {
     width: 100%;
  }
}
